html, body, div, a {
	font-family:arial,sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

input {
	font-family:arial,sans-serif;
	font-size: 10pt;
}

input[type="text"] {
  	width:100%;
}

input[type="password"] {
	width:100%;
}

.progressbar {
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
	color: #222222;
	height: 16px;
	width: 200px;
}

.progressbar .bar {
	background-color:#6CAF00;
	height:16px;
	width:0;
}