html, body, div, span, a {
	font-family:arial,sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

body {
	background-image:url("/resource/bg.png");
}
input {
	font-family:arial,sans-serif;
	font-size: 10pt;
}

textarea:focus {  
	outline: none;  
}

#logo {
	margin:20px;	
}

#loginTable {
	margin:10 auto;
	padding:10px;
	/*
	border:2px outset #ccc;
	border-radius: 9px; /* css 3 */
	border-radius: 9px; /* css 3 */
	
    -moz-border-radius: 9px;  /* mozilla */
    -moz-border-radius: 9px;  /* mozilla */
    
    -webkit-border: 9px;  /* webkit */
    -webkit-border: 9px;  /* webkit */
    */
}

input[type="text"] {
  	width:100%;
}

input[type="password"] {
	width:100%;
}


.progressbar {
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
	color: #222222;
	height: 16px;
	width: 200px;
}

.progressbar .bar {
	background-color:#6CAF00;
	height:16px;
	width:0;
}