input[type="text"] {
	padding:3px;
	border:#ccc 1px solid;
	border-radius: 9px; /* css 3 */
	-moz-border-radius: 9px;  /* mozilla */
  	-webkit-border-radius: 9px;  /* webkit */
  	width:100%;
}

input[type="password"] {
	padding:3px;
	border:#ccc 1px solid;
	border-radius: 9px; /* css 3 */
	-moz-border-radius: 9px;  /* mozilla */
  	-webkit-border-radius: 9px;  /* webkit */
}

.sexybutton.sexysimple.sexymygray { background-color: #999999; }

.progressbar {
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
	color: #222222;
	height: 16px;
	width: 200px;
}

.progressbar .bar {
	background-color:#6CAF00;
	height:16px;
	width:0;
}