/** 清浮动 **/
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix{
    height: 1%;
}

.clearfix{
    display: block;
}

.main-ui-tab-container {
	width: 100%;
}


.main-ui-tab-container .clearfix u {
	float: left;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	width: 100%;
	line-height: 27px;
}

.main-ui-tab-container .clearfix u.ui-tab-active {
	background-color: #470EFF;
}

.main-ui-tab-container .ui-tab-content {
}


.ui-tab-container{
	width: 100%;
}

.ui-tab-container .clearfix {
	background:url("/resource/img/subTab.gif") repeat-x scroll 0 0 transparent;
}

.ui-tab-container .clearfix div {
	float: left;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	width: 200px;
	line-height: 27px;
}

.ui-tab-container .clearfix div.ui-tab-active {
	background-image:url("/resource/img/subTab_active.gif");
}

.ui-tab-container .ui-tab-content {
}


.label {
	text-align: right;
	vertical-align: top;
	width: 50px;
}

#saveShopDiv {
	float: left;
	width: 360px;
}

#saveShopForm td {
	height: 45px;
	line-height: 37px;
	padding-bottom: 5px;
}

#shopMap {
	float: left;
	width: 240px;
}
			