/** 清浮动 **/
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix{
    height: 1%;
}

.clearfix{
    display: block;
}

.main-ui-tab-container{
	width: 100%;
}


.main-ui-tab-container > div u {
	float: left;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	width: 100%;
	line-height: 27px;
}

.main-ui-tab-container > div u.ui-tab-active {
	background-color: #470EFF;
}

.main-ui-tab-container .ui-tab-content {
}


.ui-tab-container{
	width: 100%;
}

.ui-tab-container .clearfix {
	background:url("/resource/img/subTab.gif") repeat-x scroll 0 0 transparent;
}

.ui-tab-container > div div {
	float: left;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	width: 200px;
	line-height: 27px;
}

.ui-tab-container > div div.ui-tab-active {
	background-image:url("/resource/img/subTab_active.gif");
}

.ui-tab-container .ui-tab-content {
}
			